*{
    margin: 0px;
    padding: 0px;
    border: none;
}

nav{
    
    text-align: center;
    margin-bottom: 100px;
    background-color: black;
    color: aliceblue;

}

.nav-center h1{
    font-size: 40px;
}


head{
    text-align: center;
}

.project{

    text-align: center;
}

.project h1{
    font-size: 40px;
    font-weight: 800;
}

#num{
    border: solid;
    width: 109px;
    height: 31.7px;
    border-radius: 20px;
    background: black;
    padding-top: 9px;
    margin-left: 190px;
    font-size: x-large;
    font-weight: 800;
    margin-top: 20px;
    color: white;
}
.btn-nav{
    margin-top: 30px;
}

.btn{
    font-weight: 800;
    font-size: larger;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
}

.increase{
    background-color: green;
}

.reset{
    background-color: black;
    color: white;
}

.decrease{
    background-color: red;
}